.container
{
    font-size: xx-large; 
}
body{
    background-color: #334756;
}
/* .list-group-item { */
    /* background-color:#CFB784; */
/* } */

.txt1{
    background-color:wheat;
}



.txt2{
    background-color: coral;
}
.chat{
    font-size: x-large;
}
.chat{
     width: 83%;
    height: 400px;
    overflow-y: scroll;
    list-style-type: none;
}




